.buttonForInput {
    background-color:#18212a;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    cursor: pointer;
    border: none;
    color: #FFF;
}

.buttonForInput:hover {
    color: #ee5861;
    transition: 0.5s;
}